*.suo
Scythe.Fody/obj/
packages/
Scythe.Fody/bin/
Scythe.Fody.Test/obj/
Scythe.Fody.Test/bin/
Scythe.TestAssembly/obj/
Scythe.TestAssembly/bin/
Scythe.TestParametersCount/bin/
Scythe.TestMethodInstructions/obj/
Scythe.TestParametersCount/obj/
Scythe.TestMethodInstructions/bin/
Scythe.CyclomaticComplexityTest/obj/
Scythe.CyclomaticComplexityTest/bin/
Scythe.TestBoxing/bin/
Scythe.TestBoxing/obj/
